<ion-view title="Current Bills" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <h1 id="currentBills-heading5" style="color:#000000;font-weight:300;font-style:italic;text-align:center;">Bills</h1>
    <div class="list card" id="currentBills-card25">
      <ion-item class="item-avatar" id="currentBills-list-item37">
        <img src="img/oigqt2MRjW1NThws3pBq_6.jpeg">
        <h2>Rent</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/35XS7m2kTiSNZKYWAMRI_PIEFINAL.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="currentBills-list-item-container4">
        <div id="currentBills-button-bar1" class="button-bar">
          <button id="currentBills-button6" class="button button-royal  button-block">AutoPay</button>
          <a ui-sref="home.payNow" id="currentBills-button8" class="button button-positive  button-block">Virtual Card</a>
        </div>
      </div>
    </div>
    <ion-list id="currentBills-list6">
      <ion-item class="item-avatar" id="currentBills-list-item31">
        <img src="img/sdbLEnsQBGukfOqYolAb_f.jpeg">
        <h2>Food</h2>
      </ion-item>
      <ion-item class="item-avatar" id="currentBills-list-item32">
        <img src="img/hBgigPBeSUqNFvMbyIFc_bb.png">
        <h2>Electricty</h2>
      </ion-item>
      <ion-item class="item-avatar" id="currentBills-list-item33">
        <img src="img/AsFvnWjTI2xC79kw9bKF_pic.jpeg">
        <h2>Cable</h2>
      </ion-item>
      <ion-item class="item-avatar" id="currentBills-list-item34">
        <img src="img/mm0jqmbkS4mRaUMDDnH7_puls.png">
        <h2>Add New </h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>