<ion-view title="Pay Now " id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="payNow-heading7" style="color:#000000;font-style:italic;text-align:center;">Divisé Card</h1>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <h4 id="payNow-heading8" style="color:#000000;text-align:center;">Members</h4>
    <div class="list card" id="payNow-card21">
      <ion-item class="item-avatar" id="payNow-list-item12">
        <img src="img/GkkdJtIiSiyawAvw4T56_dw.jpeg">
        <h2>Denzel Washington</h2>
      </ion-item>
      <ion-item class="item-avatar" id="payNow-list-item18">
        <img src="img/p3jMjZs8TQKKntgNSGzZ_ja.jpeg">
        <h2>Jovan Adepo</h2>
      </ion-item>
      <ion-item class="item-avatar" id="payNow-list-item14">
        <img src="img/cRuyaCRW6OImu7NBtwZv_vd.jpeg">
        <h2>Viola Davis</h2>
      </ion-item>
      <ion-item class="item-avatar" id="payNow-list-item16">
        <img src="img/jwO5KbPQkqviyaxZy21G_mg.jpg">
        <h2>Megan Good</h2>
      </ion-item>
    </div>

    <div class="list card" id="payNow-card23">
      <h3 style="color:#000000;text-align:center;border: 0;">Balance: $4,000</h3>
        </div>
        <img src="img/dq6ZxSiwQH6pDQvSO1XY_VirtualCard.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
         </div>
         <button id="payNow-button9" class="button button-balanced  button-block">Divisé Pay</button>
  </ion-content>
</ion-view>
