<ion-view title="Profile" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list7">
      <ion-item class="item-avatar" id="profile-list-item38">
        <img src="img/hMOYnp3USGCcNtnGQ2FO_dw.jpeg">
        <h2>Denzel Washington</h2>
        <p>@Dmoney</p>
      </ion-item>
    </ion-list>
    <h5 id="profile-heading10" style="color:#000000;text-align:center;">Change Profie Picture</h5>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <form id="profile-form4" class="list">
      <ion-item id="profile-list-item42">Visa*************8821</ion-item>
      <ion-item class="item-avatar" id="profile-list-item43">
        <img src="img/w8ijK41QtCUd97XDqaZ5_puls.png">
        <h2>Add New</h2>
      </ion-item>
      <ion-radio id="profile-radio5">Credit/Debit Card Number</ion-radio>
      <label class="item item-input" id="profile-input8">
        <span class="input-label">Expiration Date </span>
        <input type="text" placeholder="">
      </label>
      <ion-radio id="profile-radio7">CCV</ion-radio>
      <label class="item item-input" id="profile-input10">
        <span class="input-label">Zip Code</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <button id="profile-button10" class="button button-positive  button-block">Save Changes</button>
  </ion-content>
</ion-view>