<ion-view title="Signup" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h1 id="signup-heading3" style="color:#6CE45B;font-weight:400;text-align:center;">Divisé</h1>
    <h4 id="signup-heading4" style="color:#6CE45B;font-style:italic;text-align:center;">the new way to pay </h4>
    <div class="spacer" style="height: 100px;"></div>
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
    </form>
    <a ui-sref="home.profile" id="signup-button2" class="button button-positive  button-block">Login</a>
  </ion-content>
</ion-view>